resources/key.txt
resources/tagging.pptx
resources/Report.docx
resources/presentation.pptx
resources/Countries_WGS84.zip
resources/Countries_WGS84/
resources/railraods.qgz
tmp/
tensorflow_bin_detector.py
notebooks/Tagging.ipynb
data/railways/global/
data/results/model_VGG_finetuned.h5